  $navy: #1b2a4e;
  $royal-blue:#3977de;
  $cobalt:#5a8de3;
  $lapis:#677189;
  $sky-blue:#7ba4e9;
  $perano:#9cbbee;
  $artic:#bdd1f4;
  $selago:#ebf1fc;
  $baby-powder: #fcfcfc;
  $white:#ffffff;

  // Font Size
  $xs: 13px;
  $s: 14px;
  $m: 16px;
  $l: 20px;
  $xl: 31px;
  $xxl: 45px;
  $xxxl: 48px;

    // Font Family
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
    // $bold: "Athletics-Bold";
    // $extrabold: "Athletics-ExtraBold";
    // $medium: "Athletics-Medium";
    // $regular: "Athletics-Regular";

* {
  margin: 0;
  padding: 0;
  // text-align: center;
  box-sizing: border-box;
}

body {
  font-family: sans-serif, 'Lato';
  color: $lapis;
  line-height: 27.79px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $lapis;
}

.landing-page {
    background-color: $white;
    height: 100%;
    width: 100%;
  }
  
  //-------------------------------------------//

  //------------ Navigation styles ------------//

  //-------------------------------------------//
  
.main-navigation {
    background-color: $white;
    height: 80px;
    line-height: 20.46px;
    font-weight: 500;
    // position: absolute;
    // left: -1px;
    // top: 16px;
}

.main-navigation .flex {
  justify-content: space-between;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 16px;
}
  
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.dojah-logo {
  height: 29px;
  width: 86px;
  // margin: 0 auto;
  margin: 25px 0 26px 188px;
  text-align: center;
}

.navbar {
  max-width: 505px;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}

.navbar a {
  padding: 30px 16px;
}

.navbar a:hover {
  border-bottom: 3px solid $royal-blue;
}

.user-authentication {
  margin-right: 190px;
  margin-left: 30px;
  display: flex;
  justify-content: normal;
  align-items: center;
}

.login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px 16px;
}

.login:hover {
  border-bottom: 3px solid $royal-blue;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 16px;
  background-color: $royal-blue;
  border-radius: 4px;
  color: $white;
  width: 130px;
  min-width: 110px;
  height: 48px;
  cursor: pointer;
}

.btn:hover {
  background-color: $selago;
  color: $royal-blue;
}


.btn-primary {
  font-weight: 500;
  font-size: 14px;
  line-height: 146.16%;
}

.group-253 {
  position: absolute;
  width: 99px;
  height: 88px;
  left: 316px;
  top: 107px;
}

.ellipse-7 {
  position: absolute;
  width: 88px;
  height: 88px;
  left: 848px;
  top: 126px;
  background-color: $artic;
  border-radius: 44px;
}

.group-256 {
  position: absolute;
  width: 96px;
  height: 88px;
  left: 1091px;
  top: 139px;
}

.text-1 {
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  line-height: 67px;
  max-width: 582px;
  max-height: 120px;
  margin: 0 auto;
  margin-top: 70px;
}

.group-255 {
  position: absolute;
  width: 160px;
  height: 167px;
  left: 300px;
  top: 249px;
}

.group-258 {
  position: absolute;
  width: 162px;
  height: 160px;
  left: 964px;
  top: 286px;
}

.frame-40 {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 120px;
  width: 409px;
  text-align: center;
  margin: 16px auto;
}

.text-2-1 {
  color: $lapis;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  max-height: 56px;
  max-width: 409px;
  text-align: center;
  margin: 0 auto;
  margin-left: 2.0px;
}
.frame-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  margin-top: 16px;
  min-width: 264px;
  order: 1;
  flex-grow: 0;
  margin: 16px 0px;
  padding: 0px;
}

.primary-button {
  letter-spacing: 0;
  line-height: 20.5px;
  min-height: 20px;
  min-width: 80px;
  white-space: nowrap;
  cursor: pointer;
}

.btn-2 {
  align-items: center;
  background-color: $selago;
  border-radius: 4px;
  display: flex;
  height: 48px;
  justify-content: flex-end;
  min-width: 138px;
  padding: 0 14px;
  margin-left: 16px;
  color: $royal-blue;

}

.btn-2:hover {
  background-color: $royal-blue;
  color: white;
}

.secondary-button {
  letter-spacing: 0;
  line-height: 20.5px;
  min-height: 20px;
  min-width: 108px;
  white-space: nowrap;
  font-size: 14px;
}

.overlap-group8 {
  height: 946px;
  position: relative;
  width: 1440px;
}

.overlap-group2 {
  height: 894px;
  left: 0;
  position: absolute;
  top: 52px;
  width: 1440px;
}

.rectangle-130 {
  height: 641px;
  left: 0;
  position: absolute;
  top: 194px;
  width: 1440px;
}

.rectangle-131 {
  height: 700px;
  left: 0;
  position: absolute;
  top: 194px;
  width: 1440px;
}

.group-29 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 398px;
  min-height: 185px;
  position: absolute;
  top: 555px;
  width: 645px;
}

.text-3 {
  color: $white;
  font-size: 45px;
  font-weight: 800;
  line-height: 65.8px;
  min-height: 132px;
  min-width: 645px;
  text-align: center;
  width: 645px;
}

.frame-35 {
  align-items: flex-start;
  display: flex;
  margin-right: 3.0px;
  margin-top: 24px;
  min-width: 430px;
}

.frame-31 {
  align-items: center;
  display: flex;
  height: 29px;
  min-width: 249px;
}

.frame {
  height: 25px;
  width: 24px;
}

.text-4 {
  letter-spacing: 0;
  line-height: 29.2px;
  font-size: 20px;
  font-weight: 700;
  margin-left: 8px;
  min-height: 29px;
  min-width: 219px;
  text-align: center;
  white-space: nowrap;
}

.frame-32 {
  align-items: center;
  display: flex;
  height: 29px;
  margin-left: 24px;
  min-width: 157px;
}

.x247-support {
  letter-spacing: 0;
  line-height: 29.2px;
  font-size: 20px;
  font-weight: 700;
  margin-left: 8px;
  min-height: 29px;
  min-width: 127px;
  text-align: center;
  white-space: nowrap;
}

.favicon-2-1 {
  height: 50px;
  left: 695px;
  object-fit: cover;
  position: absolute;
  top: 825px;
  width: 50px;
}

.image-2 {
  height: 507px;
  left: 309px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 822px;
}

.text-5 {
  left: 630px;
  letter-spacing: 0;
  line-height: 20.5px;
  font-weight: 500;
  font-size: 14px;
  position: absolute;
  top: 8px;
  white-space: nowrap;

}

.group-254 {
  height: 95px;
  left: 212px;
  position: absolute;
  top: 0;
  width: 88px;
}

.group-257 {
  height: 89px;
  left: 1131px;
  position: absolute;
  top: 52px;
  width: 93px;
}

.frame-298 {
  align-items: flex-end;
  background-color: $baby-powder;
  display: flex;
  min-width: 1440px;
}

.group-295 {
  align-items: center;
  display: flex;
  min-width: 1267px;
}

.elizeu-dias {
  height: 634px;
  object-fit: cover;
  width: 718px;
}

.frame-315 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 88px;
  margin-top: 1.0px;
  min-height: 411px;
  width: 461px;
}

.rectangle-128 {
  background-color: $royal-blue;
  height: 4px;
  width: 50px;
}

.know-your-customer {
  letter-spacing: 0;
  line-height: 66.6px;
  font-size: 48px;
  color: $navy;
  font-weight: 800;
  margin-top: 8px;
  min-height: 67px;
  white-space: nowrap;
}

.text-2 {
  line-height: 27.8px;
  min-height: 84px;
  width: 436px;
  font-size: 16px;
  font-weight: 400;
}

.frame-314 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  min-height: 324px;
  width: 434px;
}

.text-7 {
  letter-spacing: 0;
  line-height: 27.8px;
  min-height: 224px;
  width: 224px;
}

.group-294 {
  align-items: flex-start;
  display: flex;
  margin-top: 16px;
  min-width: 224px;
}

.overlap-group {
  height: 224px;
  position: relative;
  width: 224px;
}

.overlap-group ul {
  list-style: none;
}

.overlap-group ul li::before {
  font-size: 16px;
  line-height: 28px;
  content: "\2022";
  color: $royal-blue;
  font-weight: 1000; 
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

.img-left { 
  order: -1;
}

.img-right {
  order: 0;
}

.ellipse-17 {
  border: 24px solid $sky-blue;
  position: absolute;
  left: 1390px;
  top: 1880px;
  border-radius: 57px;
  height: 114px;
  // margin-bottom: 51px;
  // margin-left: 123px;
  width: 114px;
  box-sizing: border-box;  
}

.frame-317 {
  align-items: center;
  background-color: $baby-powder;
  display: flex;
  min-width: 1440px;
}

.flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 49.2px;
  margin-left: -58px;
  min-height: 377px;
  width: 184px;
}

.dots {
  height: 240px;
  margin-top: 80px;
  width: 184px;
}

.ellipse-17-1 {
  border: 16px solid $sky-blue;
  border-radius: 28px;
  height: 56px;
  margin-left: 31px;
  width: 56px;
}

.group-296 {
  align-items: center;
  display: flex;
  margin-left: 74px;
  min-width: 1240px;
}

.frame-315-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 1.0px;
  min-height: 271px;
  width: 434px;
}

.know-your-business {
  line-height: 66.6px;
  margin-top: 8px;
  min-height: 67px;
  white-space: nowrap;
  font-size: 48px;
  font-weight: 800;
  color: $navy;
}

.frame-314-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  min-height: 184px;
  width: 434px;
}

.group-294-1 {
  align-items: flex-start;
  display: flex;
  margin-top: 16px;
  min-width: 226px;
}



  //-------------------------------------------//

  //------------ Navigation styles ------------//

  //-------------------------------------------//
  